
@{
    ViewData["Title"] = "Index";
}


@model List<RentACar.Models.Brand>

@if (Model != null && Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand Name</th>
                <th colspan=2>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td><a asp-controller="Brand" asp-action="Edit" asp-area="Manage" asp-route-id="@item.Id" class="text-info">Edit</a></td>
                    <td><a asp-controller="Brand" asp-action="Delete" asp-area="Manage" asp-route-id="@item.Id" class="text-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="display-4">Slider is empty</h1>
}



